ADMIN_TOKEN=changethis
API_KEY_ENABLED=true
API_KEY_AUTO_PROVISIONING=false
DEFAULT_WALLET_ENABLED=false
AGENT_VERSION=1.37.0
PRISM_NODE_VERSION=2.3.0
PORT=8080
NETWORK=identus
VAULT_DEV_ROOT_TOKEN_ID=changethis
PG_PORT=5434

POSTGRES_PASSWORD=changethis
PGA_DEFAULT_EMAIL=changethis@mail.com
PGA_DEFAULT_PASSWORD=changethis

